<%- layout('layouts/boilerplate') -%>
<h1 class="mb-3">List Of Polling Units In Delta State</h1>
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col"><%= unit %>  Polling Units</th>
        <th scope="col">Name</th>
        <th scope="col">Number</th>
        <th scope="col">Description</th>
        <th scope="col">Result</th>
      </tr>
    </thead>
    <tbody>
      <% for(let pool of polling_unit){ %>
        <tr>
            <th scope="row"><%= pool.uniqueid %> </th>
            <td><%= pool.polling_unit_name %> </td>
            <td><%= pool.polling_unit_number %> </td>
            <td><%= pool.polling_unit_description %> </td>
            <td> <a href="/polling_unit/result/<%= pool.uniqueid %> "class="btn btn-dark">View Result</a></td>
          </tr>
        <% } %>  
    </tbody>
  </table>